
body{
    background:white;
    height: inherit;
    
}
.banner{
    width: 100%;
    position: relative;
}

.banner img{
    width: 100%;
    height: inherit;
   

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}

.banner .text{
    width: 90%;
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    text-transform: capitalize;
   
    }
    .text p{
        font-size: 60px;  
    }
    .text nav a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        padding: 20px;
    }
    .text nav a:hover{
        color:orange;
    }
header{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo{
    padding: 5px 25px;
}

header nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px 25px;

    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
header nav a:hover{
    color:orange;
}

footer nav{
width: 90%;
font-size: 20px;
text-align: center;
padding-top: 20px;
}
nav a{
padding: 20px;
text-decoration: none;
color: #6a6d73;
}

footer{
margin-top: 20px;
width: 100%;
height: 40vh;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: black;
}
footer .frm{
width: 30%;
color: white;
padding-top: 20px;

}
.frm input{
width: 80%;
padding: 10px;
border: 5px solid sandybrown;
text-align: center;
font-size: 15px;
margin-top: 10px;
}
.frm button{
width: 30%;
padding: 10px;
margin-top: 5px;
border: 2px solid sandybrown;
}
.social-icon{
width: 25%;
color: #6a6d73;
font-size: 20px; 
padding-top: 20px;
}
.social-icon a{
padding: 8px;
}

.tt{
width: 30%;
color: #6a6d73;
font-size: 20px;
padding-top: 20px;
}
.main-box{
width: 100%;
}

.main-box .con{
background-color: #26498e;
width: 100%;
height: 60vh;
color: aqua;
}

.contact{
    width: 90%;
    height: inherit;
    margin: 8% auto;
    text-align: center;
    padding: 20px ;
text-align: center;
}
.contact .contact-text{
    width: 90%;
}
.contact .contact-text h6{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace ;
    text-decoration: underline sandybrown;
  text-underline-offset: 10px;
  color: sandybrown;
  text-align: center;
  padding-bottom: 10px;
}
.contact .contact-text h1{
    font-family:'Courier New', Courier, monospace ;
    
}

.contact .qery{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.qery .booking h5{
    font-family:'Courier New', Courier, monospace ;
    font-size: 30px;
    color: sandybrown;
    text-decoration: underline sandybrown;
  text-underline-offset: 10px;
}
.qery .booking{
    word-spacing: 10px;
    text-align: center;
}
.qery .booking i{
    padding-top: 10px;
    color: sandybrown;

}
.qery .gernal h5{
    font-family:'Courier New', Courier, monospace ;
    font-size: 30px;
    color: sandybrown;
    text-decoration: underline sandybrown;
  text-underline-offset: 10px;
}
.qery .gernal {
    word-spacing: 10px;
    text-align: center;
}
.qery .gernal i{
    padding-top: 10px;
    color: sandybrown;
    
}
.qery .technical h5{
    font-family:'Courier New', Courier, monospace ;
    font-size: 30px;
    color: sandybrown;
    text-decoration: underline sandybrown;
  text-underline-offset: 10px;
}
.qery .technical {
    word-spacing: 10px;
    text-align: center;
}
.qery .technical i{
    padding-top: 10px;
    color: sandybrown;
}
.contact-form{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
}
.contact-form .ifrme-lft{
    width: 45%;
}
.contact-form .formdt{
    width: 45%;
    height: 50vh;
    margin: 10px auto;
    border: 2px solid black;
   
}

.formdt .formtxt{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.formtxt .form-lgt input{
    width: 90%;
    padding: 6px;
}
.formtxt .form-rgt input{
    width: 90%;
    padding: 6px;
}
.formtxt2 input{
    width: 85%;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.formtxt3 textarea{
    width: 85%;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width:780px){
header{
      flex-direction: column;
      text-align: center;

    }
    .contact{
        width: 75%;
        text-align: center;
    }
    footer{
    flex-direction: column;
    width: 90%;
    align-items: center;
    
   }
   footer nav{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
   footer .social-icon{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
   footer .tt{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
}
@media screen and (max-width:560px){
header{
      flex-direction: column;
      text-align: center;

    }
    .about{
        width: 85%;
        text-align: center;
    }

    footer{
    flex-direction: column;
    width: 90%;
    align-items: center;
    
   }
   footer nav{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
   footer .social-icon{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
   footer .tt{
    width: 100%;
    text-align: center;
    margin: 2% 0%;
   }
}